@font-face {
    font-family: 'LatoLight';
    src: url('../fonts/Lato-Light/lato-lig.eot');
    src: url('../fonts/Lato-Light/lato-lig.eot') format('embedded-opentype'),
         url('../fonts/Lato-Light/lato-lig.woff') format('woff'),
         url('../fonts/Lato-Light/lato-lig.ttf') format('truetype'),
         url('../fonts/Lato-Light/lato-lig.svg#LatoLight') format('svg');
}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/opensans-semibold.eot');
    src: url('../fonts/opensans-semibold.eot') format('embedded-opentype'),
         url('../fonts/opensans-semibold.woff') format('woff'),
         url('../fonts/opensans-semibold.ttf') format('truetype'),
         url('../fonts/opensans-semibold.svg#OpenSansSemibold') format('svg');
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/opensans-regular.eot');
    src: url('../fonts/opensans-regular.eot') format('embedded-opentype'),
         url('../fonts/opensans-regular.woff') format('woff'),
         url('../fonts/opensans-regular.ttf') format('truetype'),
         url('../fonts/opensans-regular.svg#OpenSansRegular') format('svg');
}


html { height: 100% }
body { height: 100%;
margin: 0;
padding: 0;
font-family: 'LatoLight',Verdana,Arial;
font-size:18px;
color:white; 
	-webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	overflow: hidden;
}
#map-canvas { display:block; height: 100%; z-index:1; }
      
body > :first-child{
	   width:100%;
	   height:40px;
	   background-color:#4ece9d;
	   box-shadow: 8px 8px 0px #aaa; 
	   z-index:2000;
      }
      
header .icon{
  float:right;
  margin-top:6px;
  margin-right:20px;
  width:25px;
  height:25px;
  display:inline-block;
  cursor:pointer;
}
      
header div:nth-child(3){
  background:url('../img/personne.svg') no-repeat;
  background-size:cover; 
}

header div:nth-child(2){
  background:url('../img/rouage.svg') no-repeat;
  background-size:cover; 
  
}

header div:nth-child(1){
  background:url('../img/logout.svg') no-repeat; 
  background-size:cover;   
}

#popup{
  width:100%;
  height:100%;
  box-sizing : border-box;
  padding-bottom:44px;
  background-color:rgba(151,151,151,0.9);
  z-index:1000;
  position:absolute;
  overflow:auto;
  max-width:280px;
	
}

#bouton, #bouton2{
	background:url('../img/menu.svg') no-repeat;
}

#bouton2{
	background:url('../img/menu.svg') no-repeat;
}

#bouton, #bouton2{
  width:25px;
  height:25px;
  background-size:cover;
  cursor:pointer;
  position:absolute;
  top:7px;
  left:7px;
  z-index:1200;
}

#popup > p:nth-child(2){
	padding:0;
	margin:40px 0px 10px 20px;
	width:200px;
}

#popup:nth-child(2){
	margin:0 auto;
}

#popup input[type=text]{
  border-radius: 9px;
  background-color:white;
  outline:none;
  border:none;
  width:200px;
  height:30px;
  line-height:30px;
  padding-left:15px;
  padding-right:15px;
  position:relative;
  left:25px;

}

#popup input[type=submit],#demarrer_itineraire,#enregistrer_itineraire, #modifier_itineraire{
  border-radius:7px;
  background-color:#4ece9d;
  border:none;
  color:white;
  font-size:15px;
  font-family:'OpenSansRegular';
  cursor:pointer;
  width:150px;
  height:30px;
  margin: 0px 0px 8px 108px;
}


#marche{
	background:url('../img/feet.svg') no-repeat;
	margin-left:160px;
}

#velo{
	background:url('../img/velo.svg') no-repeat;
}

#metro{
	background:url('../img/subway.svg') no-repeat;
}

#marche,#velo,#metro{
	display:inline-block;
	width:25px;
	height:25px;
	background-size:cover;
	margin-right:5px;
	margin-top:15px;
	margin-bottom:10px;
}

#position{
	padding-left:25px;
	margin-right : 20px;
	margin-top : 5px;
	background:url('../img/mark_start.svg') no-repeat center left;
	background-size:auto 100%;
	display:block;
	border:none;
	font-size:12px;
	cursor:pointer;
	color:#FFF;
	margin-left:20px;
	margin-bottom:10px;
	float: right;
}

#position:hover{
	color:orange;
}
      
input::-webkit-input-placeholder {font-family: 'LatoLight';font-size:14px; color:#808184;}
input::-moz-placeholder {color: rgba(0,5,143,.5);}
input:-moz-placeholder {color: rgba(0,5,143,.5);}
input:-ms-input-placeholder {color: rgba(0,5,143,.5);}

#resultats_lieux_depart li, #resultats_lieux_arrive li{
	list-style: none;
	font-family:'OpenSansSemibold';
	font-size:13px;
	margin-left:-15px;
}

#resultat_lieux ul{
	margin: 0 auto;
}

#resultat_lieux ul li{
	background-color:white;
	list-style: none;
	width:230px;
	height:30px;
	margin:10px 0;
	border-radius:9px;
	position:relative;
	left:-15px;
}

#guidage_itineraire{
	display: none;
}

#popup ul li label{
	color:#4c4c4c;
	font-size:14px;
}

ul li img{
	position:relative;
	top:5px;
}

.icons{
float:right;
margin-right:4px;
}

.ajouter_lieu, .voir_lieu{
	position:relative;
	top:6px;
	left:-1px;
	width:18px;
	height:18px;
	display:inline-block;
	text-indent: -9999px;
}

.ajouter_lieu{
	background:url('../img/more.svg');
	background-size:cover;
	margin-right:2px;
}

.voir_lieu{
	background:url('../img/see.svg');
	background-size:cover;
	

}


.voir_lieu:active{
	background:url('../img/see_active.svg');
	background-size:cover;
}



/************* profil ************/

#popup_right{
	width:100%;
    height:100%;
    overflow:auto;
    background-color:rgba(151,151,151,0.9);
	z-index:1000;
	position:absolute;
	right:0px; /* - 280 pour la masquer */
	max-width:280px;
}

.mask{
	width:120px;
	height:120px;
	border-radius: 60px;
	margin:5px auto;
}

#popup_right p{
	font-size:15px;
	padding:0;
	margin:0;
}

#popup_right h3, #popup_right h4{
	text-align:center;
}

#popup_right h4 {
	margin-top: -20px;
}

#popup_right > p:not(#profile_picture){
	font-family: 'OpenSansSemibold',Verdana,Arial;
	padding-left:20px;
}

#popup_right ul{
	margin-left:10px;
	padding:0;
}
#popup_right ul li{
	list-style:none;
	font-family: 'OpenSansRegular';
	
}

#sidebar_profile{
	padding:20px;
}

#sidebar_profile ul li a{
	text-decoration:none;
	color:white;
}

hr + p{
	font-family:'OpenSansRegular',Verdana,Arial;
}

label.place{ 
	color:white;
	margin-left:10px;
	
}

.itinerary{
	margin-bottom: 15px;
	
}

.itinerary p{
	font-family:'LatoLight';
}

.saved{
	float:left;
	width:20px;
	height:20px;
	background:url('../img/itinerary.svg') no-repeat;
	background-size:cover;
	position:relative;
	top:10px;
}

.trash{
	float:left;
	width:20px;
	height:20px;
	background:url('../img/trash.svg') no-repeat;
	background-size:cover;
	position:relative;
	top:10px;
	
}

#pictures{
	margin:15px auto 15px auto;
}

#pictures div{
	width:40px;
	height:40px;
	margin:2px;
	background-color:blue;
	border-radius:20px;
	display:inline-block;
}

#pictures div{
	overflow:hidden;
}

#other_pictures{
	width:40px;
	height:40px;
	display:inline-block;
	margin-left:4px;
	margin-bottom:3px;
	background:url('../img/other_pictures.svg') no-repeat;
}

hr{
	margin-bottom: 15px;
	opacity:0.5;
	
}

#popup_right form input[type=submit], .edit_itineraries, .edit_added_places{
    border-radius:6px;
    background-color:#4ece9d;
    border:none;
    color:white;
    font-size:14px;
    line-height:14px;
    font-family:'OpenSansRegular';
    cursor:pointer;
    width:95px;
    height:20px;
    margin-left:137px;
    margin-top:10px;
}

.edit_itineraries, .edit_added_places{
	display:block;
	text-decoration:none;
	text-align:center;
	padding-top:3px;
    
}

#popup_right form input[type=submit],#save_infos,#save_password{
	display:none;
}

#popup_right #changeAvatar input[type=submit] {
	display: block;
	position: absolute;
	margin-top: -45px;
	width: 38px;
	height: 31px;
	margin-left: 200px;
	background-color: #49C495;
	border-radius: 0px 6px 6px 0px;
	
}


/************* profile settings ************/

#popup_right:first-child{
	border:1px solid red;
}

#popup_right form input[type=text],#popup_right form input[type=email],#hidden_password input[type=password]{
	width:160px;
	border-radius:6px;
	background:none;
	border:none;
	color:white;
	font-size:14px;
	margin-left:20px;
	overflow:visible;
}

/*div.upload {
    width: 160px;
    height: 30px;
    background:url('../img/edit_avatar.svg') no-repeat;
    border-radius:7px;
    overflow: hidden;
    margin:0px 25px;

}


div.upload input {
    display: block !important;
    width: 157px !important;
    height: 57px !important;
    opacity: 0 !important;
    overflow: hidden !important;
    cursor: pointer !important;
}*/


#avatar::-webkit-file-upload-button {
  visibility: hidden;
}
#avatar:before {
	content: 'Changer de photo';
	display: inline-block;
	background-color: #4ece9d;
	border-radius: 6px 0px 0px 6px;
	width: 155px;
	padding: 7px 0px;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
	margin: 0px auto;
	font-size: 13px;
	padding-left: 26px;
	margin-left: 25px;
}
#avatar:hover:before {
 background-color: #4ece9d;
}
#avatar:active:before {
  background-color: #4ece9d;
}

.conteneur_progress_bar {
	padding: 1px; 
	position:relative;
	width:145px;
	border-radius: 3px;
	margin: 10px;
	display:none;
	text-align:left;
	margin: 0px 25px;
}

.progress_bar {
	height:5px;
	background-color: #FFF;
	width:1%;
}

.progress_value {
	margin: 0px auto;
	position:absolute;
	display:inline-block;
	color: #FFF;
	
	margin-top: -14px;
	width: 38px;
	height: 31px;
	margin-left: 160px;
}

#edit p, #edit_password p{
	display:inline-block;
	font-size:15px;
	font-family:"OpenSansSemibold",Verdana,Arial;
	padding-left:20px;
	padding-right:40px;
	padding-bottom:15px;
	
}

.response {
	color: #FFF; 
	font-weight: 700;
	text-align: center;
}

p + img{
	width:18px;
	height:18px;
	position:relative;
	cursor:pointer;
	top:4px;
}

#popup_right label{
	font-size:15px;
}

.col{
	float:left;
}

/* Chargement des lieux en ajax */

#navigation-ajax{
	height: 80%;
	overflow-y:auto;
}

#navigation-ajax #container-lieu{
	width: 100%;
	max-width: 100%;
	margin:0;
}

#navigation-ajax .md-content{
	padding:0;
}

/*A revoir*/
#hidden_password, #update_info{
	position:relative;
	left:20px;
	width:240px;
	
}


#hidden_password{
	display:none;
}

