@font-face {
    font-family: 'BariolRegular';
    src: url('../fonts/bariol_regular.eot') format('embedded-opentype'),
         url('../fonts/bariol_regular.woff') format('woff'),
         url('../fonts/bariol_regular.ttf') format('truetype'),
         url('../fonts/bariol_regular.svg#BariolRegular') format('svg');
}

@font-face {
	font-family: 'LatoBold';
    src: url('../fonts/lato-bol.eot') format('embedded-opentype'),
         url('../fonts/lato-bol.woff') format('woff'),
         url('../fonts/lato-bol.ttf') format('truetype'),
         url('../fonts/lato-bol.svg#LatoBold') format('svg');
}

@font-face {
    font-family: 'LatoLight';
    src: url('../fonts/lato-lig.eot') format('embedded-opentype'),
         url('../fonts/lato-lig.woff') format('woff'),
         url('../fonts/lato-lig.ttf') format('truetype'),
         url('../fonts/lato-lig.svg#LatoLight') format('svg');    
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/opensans-regular.eot') format('embedded-opentype'),
         url('../fonts/opensans-regular.woff') format('woff'),
         url('../fonts/opensans-regular.ttf') format('truetype'),
         url('../fonts/opensans-regular.svg#OpenSansRegular') format('svg');
}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/opensans-semibold.eot') format('embedded-opentype'),
         url('../fonts/opensans-semibold.woff') format('woff'),
         url('../fonts/opensans-semibold.ttf') format('truetype'),
         url('../fonts/opensans-semibold.svg#OpenSansSemibold') format('svg');
}

html,body{
	height:100%;
}

body, p{
	margin:0;
	font-family:LatoLight;
	color:#ffffff;
}


#container{
	max-width:540px;
	background-color:#a7a7a7;
	opacity:0.8;
	margin:2px auto;
}

#photo-lieu{
	width:100%;
}

h1{
	text-align: center;
	font-size:27px;
	font-weight: normal;
}

hr{
	width:86.3%;
	margin: 0 auto;
	border:1px solid #c1c1c1;
}

#adresse{
	margin-top:20px;
	text-align: center;
}

#icone-lieu{
	margin-right:14px;
}

h2{
	font-family:OpenSansRegular;
	font-size:15px;
	font-weight:normal;
	display: inline;
	vertical-align: top;
	line-height:1.6;
}

#description{
	margin-top:34px;
	font-size:14px;
	text-align: center;
}

#votes{
	margin-top:40px;
	text-align:center;
}

#votes-positifs, #votes-negatifs{
	display: inline-block;
    margin-top: 50px;
    vertical-align: top;
}

#container-canvas{
    display: inline;
    margin: 0 20px;
}

#canvas{
	max-width:21.48%;
}

#button-validate{
	margin-top:15px;
	text-align: center;
}

#photos-lieu{
	margin-top:40px;
	text-align: center;
}

.photo-lieu{
	width:60px;
	height:60px;
	display:inline-block;
	border-radius:30px;
	border:1px solid #ffffff;
	margin-right:14px;
}

.photo-lieu:last-child{
	margin-right:0;
}

#voir-photos{
	float:right;
	margin-top:20px;
	margin-right:30px;
	cursor:pointer;
}

#voir-commentaires{
	margin-top:22px;
	text-decoration: underline;
	cursor:pointer;
}

#leave-comment{
	margin-bottom:40px;
}


/* page 'create-place.php' */

form{
	margin-top:30px;
	line-height: 0.6;
}

label{
    float: left;
    margin-right: 10px;
    text-align: right;
    width: 40%;
    vertical-align: top;
    line-height: 1.2;
}

input:not(.submit), textarea{
	width:40%;
}

input[type="submit"]{
	background-color: #4ECE9C;
    border: 1px solid #4ECE9C;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    margin-top: 20px;
}


div#fields-select-submit{
	text-align:center;
	margin-top:10px;
	margin-bottom:20px;
}



/* 540px : largeur du container*/
@media screen and (max-width: 540px){
	
	#description{
		margin-top:10px;
	}

	.photo-lieu{
		margin:0;
	}
}	

@media screen and (max-width: 404px){

	#votes-positifs, #votes-negatifs{
		margin:0;
	}
	
	#container-canvas{
		display: block;
		margin: 10px 0;
	}
	
	/*page 'create place'*/
	
	label{
		width:100%;
		text-align: left;
	}

	input:not(.submit), textarea{
		margin-top: 2px;
    	width: 100%;
	}

}

@media screen and (max-width: 208px){

	div#fields-select-submit select{
		width:100%;
	}

	div#fields-select-submit:nth-child(2){
		margin-top:10px;
	}
}